body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    width: 1440px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    background-image: url("img/white-back.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}


/*
* * {
    background-color: rgba(0, 255, 0, 0.1);
} */

h1 {
    font-size: 55px;
    line-height: 55px;
    color: inherit;
    text-transform: none;
    text-align: center;
}

.inner-page {
    color: #000000;
    background-color: #ffffff;
    background-image: url("img/white-back.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

.button {
    font: inherit;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #FB565A;
    border: none;
}


/*----- HEADER ------*/

.main-header {
    width: 100%;
    padding: 49px 140px 0 140px;
    vertical-align: middle;
    background-color: #eeeeee;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.main-navigation a {
    color: #000000;
}

.main-header-logo {
    vertical-align: middle;
    display: inline-block;
    background-color: #eeeeee;
}

.site-navigation {
    color: #000000;
    margin-left: 161px;
    vertical-align: middle;
    display: inline-block;
}

.st-nav-item {
    margin-left: 38px;
    display: inline-block;
    list-style: none;
}

.cart {
    vertical-align: middle;
    display: inline-block;
    margin-left: 250px;
}

.cart img {
    vertical-align: middle;
    margin-right: 25px;
}

.page-title {
    background-color: #eeeeee;
    margin: 0;
    padding-top: 65px;
    padding-bottom: 110px;
}


/*--- HEADER END ----*/

.paging {
    display: none;
}

.advantages-web,
.advantages-apps,
.advantages-presentation {
    display: inline-block;
    margin: 45px;
}

.advantages-web ul,
.advantages-apps ul,
.advantages-presentation ul {
    list-style: none;
}

.advantages-web button,
.advantages-apps button,
.advantages-presentation button {
    display: inline-block;
    margin: 40px;
    width: 160px;
    height: 50px;
}

.studio {
    display: none;
}

.nerds-illustration {
    display: none;
}

.nerds-advantages {
    display: none;
}

.site-logo {
    display: none;
}

.contacts {
    display: none;
}


/*
.sort {
    background: #FB565A;
    width: 261px;
    margin-left: 139px;
    display: inline-block
} 

.filter {
    background: #EEEEEE;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    width: 1180px;
}

.filter .price {
    letter-spacing: 0, 18px;
    line-height: 30px;
    width: 120px;
    height: 14px;
    margin-left: 140px;
}

.filter .sort {
    width: 133px;
    height: 14px;
}

.filter-list li {
    margin: 0 170px 0 0;
    font-size: 14px;
    font-weight: normal;
    display: inline;
}

.filter ul {
    list-style: none;
}

.filter .price,
.filter .sort,
.filter .filter-list {
    float: left;
} */


/*
.filter-left {
    padding-left: 125px;
    padding-top: 54px;
}
.filter-left .slider,*/

.filter-left .radio,
.filter-left .checkbox {
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    color: #283136;
    text-transform: none;
    display: inline-block;
    width: 261px;
}

.filter-left .radio ul,
.filter-left .checkbox ul {
    list-style: none;
}

.filter-left .slider {
    text-transform: uppercase;
    letter-spacing: 0, 18px;
    text-align: left;
    padding-top: 70px;
    visibility: hidden;
}

.filter-left .radio {
    padding-top: 195px;
}

.filter-left .filter-adaptive,
.filter-left .filter-fixed,
.filter-left .filter-non-fixed {
    padding-top: 16px;
    padding-left: 23px;
}

.filter-left button {
    font: inherit;
    line-height: 18px;
    text-align: center;
    color: #000000;
    background-color: #eeeeee;
    width: 260px;
    height: 50px;
}

fieldset {
    border: none;
}

legend {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
}

.filter-left {
    background-color: aquamarine;
    width: 480px;
    float: left;
}

.catalog-container {
    border: 1px dashed red;
    display: inline-block;
    width: 960px;
}

.catalog {
    width: 360px;
    height: 576px;
    background: rosybrown;
}

.catalogs ul {
    list-style: none;
}

.catalogs>div {
    display: inline-block;
    width: 360px;
    margin-top: 75px;
    margin-left: 60px;
}

.catalogs .catalog-2,
.catalogs .catalog-4,
.catalogs .catalog-6 {
    margin-left: 36px;
}

.catalog-1 section {
    background-image: url("img/img-sedona-jpg.jpg");
    margin-top: -8px;
}

section h4 {
    text-align: center;
}

.sort {
    display: inline-block;
    width: 720px;
    text-align: left;
    font-size: 18px;
    line-height: 18px;
    vertical-align: middle;
}

.sort h4 {
    padding-top: 32px;
    padding-left: 59px;
    font-weight: bold;
}

.sort ul {
    list-style: none;
    margin-left: 204px;
}

.sort li {
    display: inline-block;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
}

.sort>div {
    display: inline-block;
}

.sort-icons img {
    display: inline-block;
    margin-left: 10px;
}

.page {
    list-style: none;
    display: inline-block;
}

.page>li {
    display: inline-block;
    box-sizing: border-box;
}


/* -----------FOOTER-------------*/

.main-footer {
    color: #000000;
    /* background-color: green; */
    background-image: url("img/white-back.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.footer-social {
    width: 475px;
}

.footer-friends {
    width: 955px;
}

.footer-social,
.footer-friends {
    margin: 0;
    padding: 0;
    height: 100px;
    display: inline-block;
}

.footer-social ul {
    list-style: none;
    margin: 10px 0 0 140px;
    padding: 0;
    display: inline-block;
}

.footer-social li {
    list-style: none;
    display: inline-block;
    width: 79px;
    height: 79px;
    margin: 0 12px 0 0;
    padding: 0;
    border-radius: 50%;
    background-color: #e1e1e1;
}

.social-button a {
    display: block;
}

.social-button img {
    display: block;
    padding-top: 28px;
    margin: 0 auto;
}

.footer-friends b,
.footer-friends p {
    text-transform: none;
}

.footer-friends b {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: #000000;
}

.footer-friends p {
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    color: #444444;
}

.footer-friends b {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: #000000;
}

.footer-friends p {
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    color: #444444;
}

.vk-button {
    background-image: url("img/vk-icon.png");
    background-position: 31px 23px;
    background-size: 30px;
}

.fb-button {
    background-image: url("img/fb-icon.png");
    background-position: 31 px 23px;
    background-size: 30px;
}

.insta-button {
    background-image: url("img/insta-icon.png");
    background-position: 31 px 23px;
    background-size: 30px;
}

.social-button img {
    display: block;
    margin: 30px auto;
    padding: 30px;
}