body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    background-image: url("img/white-back.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.button {
    font: inherit;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #FB565A;
    border: none;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    background-color: #EEEEEE;
}

.main-navigation a,
.main-navigation ul,
.main-navigation li {
    display: inline-block;
    margin: 20px;
}

.cart li {
    display: inline-block;
}

.site-navigation,
.cart {
    list-style: none;
}

.main-header-logo a:hover,
.site-navigation a:hover,
.cart a:hover {
    color: #FB565A;
    background-color: #EEEEEE;
}

.site-navigation a:active,
.cart a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #EEEEEE;
}

.site-navigation a,
.cart a {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    background-color: #EEEEEE;
    display: inline-block;
}

.slider {
    display: none;
}

.paging {
    display: none;
}

.advantages-web,
.advantages-apps,
.advantages-presentation {
    display: inline-block;
    margin: 45px;
}

.advantages-web ul,
.advantages-apps ul,
.advantages-presentation ul {
    list-style: none;
}

.advantages-web button,
.advantages-apps button,
.advantages-presentation button {
    display: inline-block;
    margin: 40px;
    width: 160px;
    height: 50px;
}

.studio {
    display: none;
}

.nerds-illustration {
    display: none;
}

.nerds-advantages {
    display: none;
}

.site-logo {
    display: none;
}

.contacts {
    display: none;
}

.main-footer {
    color: #000000;
    background-color: #ffffff;
    background-image: url("img/white-back.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.main-footer div,
.main-footer li,
.main-footer b {
    display: inline-block;
    margin: 45px;
}

.footer-social,
.footer-friends {
    display: inline;
}

.footer-social ul {
    list-style: none;
}

.footer-social b {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.footer-social p {
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
    color: #444444;
}

.social-button {
    color: #ffffff;
    background-color: #e1e1e1;
}