body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    width: 1440px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    background-image: url("../img/white-back.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 55px;
    line-height: 55px;
    color: inherit;
    text-transform: none;
    text-align: center;
}

.inner-page {
    color: #000000;
    background-color: #ffffff;
    background-image: url("../img/white-back.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

.button {
    font: inherit;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #FB565A;
    border: none;
}

.button-grey {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
  margin-top: 25px;
}

/*----- HEADER ------*/

.main-header {
    width: 100%;
    padding: 49px 140px 0 140px;
    vertical-align: middle;
    background-color: #eeeeee;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.main-navigation a {
    color: #000000;
}

.main-header-logo {
    vertical-align: middle;
    display: inline-block;
    background-color: #eeeeee;
}

.site-navigation {
    color: #000000;
    margin-left: 161px;
    vertical-align: middle;
    display: inline-block;
}

.site-nav-item {
    margin-left: 38px;
    display: inline-block;
    list-style: none;
}

.cart {
    vertical-align: middle;
    display: inline-block;
    margin-left: 250px;
}

.cart img {
    vertical-align: middle;
    margin-right: 25px;
}

/* ВРЕМЕННОЕ РЕШЕНИЕ ВМЕСТО СЛАЙДОВ*/
.header-item {
   background-color: #eeeeee;
   margin: 0;
   padding-top: 65px;
   padding-bottom: 110px;
   height: 413px;
}

.index-slides {
    display: none;
}

/*--КОД ДЛЯ ВТОРОЙ СТРАНИЦЫ---*/
.page-title {
    background-color: #eeeeee;
    margin: 0;
    padding-top: 65px;
    padding-bottom: 110px;
}


/*--- HEADER END ----*/

.paging {
    display: none;
}

.advantages-web,
.advantages-apps,
.advantages-presentation {
    display: inline-block;
    margin: 45px;
}

.advantages-web ul,
.advantages-apps ul,
.advantages-presentation ul {
    list-style: none;
}

.advantages-web button,
.advantages-apps button,
.advantages-presentation button {
    display: inline-block;
    margin: 40px;
    width: 160px;
    height: 50px;
}

.studio {
    display: none;
}

.nerds-illustration {
    display: none;
}

.nerds-advantages {
    display: none;
}

.site-logo {
    display: none;
}

.contacts {
    display: none;
}


/* ASIDE START__SLIDER*/

.filter-left {
    background-color: #ffffff;
    width: 480px;
    float: left;
    padding: 0 20px 0 139px;
    text-transform: none;
    font-size: 16px;
    color: #283136;
}

.aside-item {
    margin-top: 63px;
    width: 261px;
    border: none;
}

.aside-item legend {
    margin-bottom: 9px;
    margin-left: -13px;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
}

.aside-item .price {
    margin-bottom: 50px;
}

.slider-input {
    background: #eeeeee;
    height: 81px;
    display: flex;
    justify-content: center;
    padding: 0 19px;
    margin-bottom: 13px;
}

.slider-input input {
    width: 100%;
}

.slider-controls {
    text-align: left;
    
}

.slider-controls input {
    background-color: #eeeeee;
    margin-left: 12px;
    width: 80px;
    height: 38px;
    border: none;
    border-radius: 4px;
    text-align: center;
}

/*ASIDE RADIO */

.radio-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.radio-input:checked + .check__radio {
    background-image: url("../img/radio-on.png");
}

.grid-list{
    margin: 0;
    padding: 0;
}

.grid-label {
    display: block;
    width: 100%;
    padding-left: 25px;
    padding-top: 15px;
    text-transform: none;
}

.check__radio{
    position: absolute;
    margin-left: -30px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url("../img/radio-off.png");  
}

/*ASIDE CHECKBOX*/
.check {
display: block;
padding-left: 25px;
padding-top: 15px;
}

.check__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check__box {
    position: absolute;
    margin-left: -30px;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-image: url("../img/checkbox-off.png");
}

.check__input:checked + .check__box {
    background-image: url("../img/checkbox-on.png");
    width: 27px;
}

/* ASIDE END*/

/*---CATALOG-----SORT---- */

.sort {
    display: inline-block;
    width: 720px;
    text-align: left;
    font-size: 18px;
    line-height: 18px;
    vertical-align: middle;
}

.sort h4 {
    padding-top: 32px;
    padding-left: 59px;
    font-weight: bold;
}

.sort ul {
    list-style: none;
    margin-left: 204px;
}

.sort li {
    display: inline-block;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    padding-left: 13px;
}

.sort>div {
    display: inline-block;
}

.sort-icons {
    width: 30px;
    height: 10px;
    display: inline-block;
}

.sort-icon{
    width: 11px;
    height: 10px;
    background-repeat: no-repeat;
    margin-left: 790px;
}

.sort-icon-down {
    background-image: url("../img/icon-down-dir.png");
    margin-left: 776px;
    margin-top: -41px;
}

.sort-icon-up {
    background-image: url("../img/icon-up-dir.png");
    margin-left: 796px;
    margin-top: -10px;
}

/* CATALOG */

.catalog-container {
    display: inline-block;
    width: 960px;
}

.catalogs ul {
    list-style: none;
}

.catalogs>div {
    display: inline-block;
    width: 360px;
    margin: 35px -28px 39px 60px;
}

.catalog {
    width: 360px;
    height: 576px;
}

.catalog-header{
    height: 40px;
    background: url("../img/browser.png");
}

.catalog-body {
    padding-top: 320px;
    height: 576px;
}

.catalog-1 {
    background-image: url("../img/img-sedona-jpg.jpg");
}

.catalog-2 {
    background-image: url("../img/img-pink-jpg.jpg");
}

.catalog-3 {
    background-image: url("../img/img-barbershop-jpg.jpg");
}

.catalog-4 {
    background-image: url("../img/img-mishka-jpg.jpg");
}

.catalog-5 {
    background-image: url("../img/img-aplus-jpg.jpg");
}

.catalog-6 {
    background-image: url("../img/img-kvast-jpg.jpg");
}

.catalog-offer {
    background: #eeeeee;
    height: 231px;
}

.catalog-offer h4 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    padding-top: 35px;
}

.catalog-offer p {
   font-size: 16px;
   font-weight: normal;
   text-align: center;
   text-transform: none;
   color: #666666;
   padding-bottom: 37px;
   margin-bottom: 20px;
}


.catalog-button{
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background: #fb565a;
    padding-top: 15px;
    margin: -43px 80px 43px 80px;
}

.catalog-button a{
    display: block;
}



/*
.catalog-offer a {
    background-color: #fb565a;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    width: 200px;
    height: 50px; 8/
}

/* .catalog-1 section {
    background-image: url("img/img-sedona-jpg.jpg");
    margin-top: -8px;
} */



/*.sort-icons {
    display: inline-block;
    margin-left: 10px;
} */

.page {
    list-style: none;
    display: inline-block;
    margin-top: 62px;
    margin-left:25px;
}

.page>li {
    display: inline-block;
}


/* -----------FOOTER-------------*/

.main-footer {
    color: #000000;
    background-image: url("../img/white-back.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.footer-social {
    width: 475px;
}

.footer-friends {
    width: 955px;
}

.footer-social,
.footer-friends {
    margin: 0;
    padding: 0;
    height: 100px;
    display: inline-block;
}

.footer-social ul {
    list-style: none;
    margin: 10px 0 0 140px;
    padding: 0;
    display: inline-block;
}

.footer-social li {
    list-style: none;
    display: inline-block;
    width: 79px;
    height: 79px;
    margin: 0 12px 0 0;
    padding: 0;
    border-radius: 50%;
    background-color: #e1e1e1;
}

.social-button a {
    display: block;
}

.social-button img {
    display: block;
    padding-top: 28px;
    padding-left: 31px;
}

.footer-friends b,
.footer-friends p {
    text-transform: none;
}

.footer-friends b {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: #000000;
    margin-left: 55px;
}

.footer-friends p {
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    color: #444444;
    margin-left: 55px;
}

.footer-friends b {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: #000000;
}

.footer-friends p {
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    color: #444444;
}

.vk-button {
    background-image: url("../img/vk-icon.png");
    background-position: 31px 23px;
    background-size: 30px;
}

.fb-button {
    background-image: url("../img/fb-icon.png");
    background-position: 31 px 23px;
    background-size: 30px;
}

.insta-button {
    background-image: url("../img/insta-icon.png");
    background-position: 31 px 23px;
    background-size: 30px;
}