body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    width: 1440px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    background-image: url("../img/white-back.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

.inner-page {
    color: #000000;
    background-color: #ffffff;
    background-image: url("../img/white-back.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

.button {
    font: inherit;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button-grey {
    display: block;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    width: 260px;
    height: 50px;
    background-color: #eeeeee;
    margin-top: 45px;
    margin-left: 135px;
    border-radius: 4px;
}

.button-grey:hover, .button-grey:focus {
    background-color: #dfdfdf;
}

.button-grey:active {
    box-shadow: inset 0px 3px 0 0;
    color: rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

/*----- HEADER ------*/

.main-header {
    background-color: #eeeeee;
    margin-left: 0;
    padding-left: 60px;
}

.main-navigation {
    display: flex;
    font-size: 16px;
    background-color: #eeeeee;
    color: #000000;
}

.main-header-logo {
    width: 160px;
    height: 65px;
    margin: 58px 0 0 78px;
    padding: 0;
    background-repeat: no-repeat;
    background-image: url("../img/nerds-logo-first.png");
}

.main-header-logo:hover {
    background-image: url("../img/nerds-logo-hover.png");
}

.main-header-logo:focus {
    background-image: url("../img/nerds-logo-focus.png");
}

.logo-wrapper {
    width: 20%;
    display: inherit;
}

.logo-wrapper, .main-navigation-wrapper {
    margin: 0;
    padding: 0;
}

.main-navigation-wrapper {
    width: 80%;
}

.main-navigation-wrapper .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-left: 120px;
    padding: 0;
}

.site-navigation, .basket {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
}

.basket {
    display: flex;
    max-width: 126px;
}

.inner-page .basket {
    margin-left: auto;
    padding-left: 65px;
}

.basket .basket-icon {
    position: relative;
    padding-left: 28px;
}

.basket-icon::before {
    content: "";
    position: absolute;
    top: 93px;
    left: -12px;
    width: 15px;
    height: 15px;
    background-image: url("../img/basket-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.basket-icon:hover::before, .basket-icon:focus::before, .basket-icon:active::before {
    opacity: 0.3;
}

.container {
    width: 780px;
    margin: 0px auto;
    padding: 0px;
}

.site-navigation a, .basket a {
    display: flex;
    color: #000000;
    padding-top: 89px;
    padding-bottom: 0px;
    margin: 0;
    margin-left: 20px;
    vertical-align: middle;
}

.site-navigation-current {
    position: relative;
}

.site-navigation-current a:not([href]) {
    background-color: #000000;
}

.site-navigation-current::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: -7px;
    left: 46px;
    height: 2px;
    background-color: #fb565a;
}

.site-navigation a:hover, .basket a:hover {
    color: #fb565a;
}

.site-navigation li {
    padding: 0px;
    padding-left: 25px;
}

.site-navigation a:active, .basket a:active {
    color: rgba(0, 0, 0, .3);
    border-bottom: 2px solid red;
}

/*------SLIDES-------------*/

.container2 {
    width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
    box-sizing: border-box;
    margin-left: -60px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.header-slider {
    background-color: #eeeeee;
    margin-top: 0px;
}

.slider {
    position: relative;
    background-color: #eeeeee;
    padding: 0;
}

.slider-controls {
    position: absolute;
    left: 49%;
    bottom: 110px;
    z-index: 100;
    width: 160px;
    text-align: center;
    font-size: 45px;
    transform: translateX(-50%);
}

.slider-controls label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls i {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ffffff;
}

.slider-controls i:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.slider-controls .active::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-controls-item-2 i {
    margin-left: 2px;
    margin-right: 2px;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-item {
    display: none;
    padding: 78px 0 80px 100px;
    text-transform: none;
}

.slider-item:nth-child(1) {
    display: block;
}

.slider-item:nth-child(1) {
    background-image: url("../img/slide-picturePhone.png");
    background-repeat: no-repeat;
    background-position: 98% 18px;
}

.slider-item:nth-child(2) {
    background-image: url("../img/slide-pictureComp.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(3) {
    background-image: url("../img/slide-picture.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-left: -3px;
    margin-bottom: 11px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-item p {
    max-width: 430px;
    margin: 0;
    margin: 28px 0 38px -2px;
}

.slider-item .button {
    display: flex;
    justify-content: space-around;
    width: 238px;
    margin-left: -1px;
    padding: 16px 0;
    font-size: 16px;
    color: #ffffff;
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.slider-item .button:hover, .slider-item .button:focus {
    background-color: #e74246;
}

.slider-item .button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*--КОД ДЛЯ ВТОРОЙ СТРАНИЦЫ---*/

.page-title {
    background-color: #eeeeee;
    margin: 0;
    margin-right: 67px;
    padding-top: 76px;
    padding-bottom: 110px;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: inherit;
    text-transform: none;
    text-align: center;
}

/*--- HEADER END ----*/

/*--- MAIN ----*/

.container-index {
    width: 100%;
    padding: 79px 140px 0 130px;
}

/*--- MAIN END----*/

/*--- ADVANTAGES ---*/

.advantages {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 79px 140px 0 130px;
    background-color: #ffffff;
    background-image: url("../img/white-back.jpg");
    margin: 2px 60px 105px 9px;
    position: relative;
}

.advantages::after {
    content: "";
    position: absolute;
    right: 80px;
    left: 130px;
    bottom: -81px;
    height: 2px;
    background-color: #e1e1e1;
}

.advantage-item {
    background-color: #ffffff;
    width: 300px;
}

.advantage-content {
    margin: 0;
    margin-left: -1px;
    padding: 0;
    list-style: none;
}

.advantage-title h3 {
    font-size: 24px;
    font-weight: bold;
}

.advantage-text p {
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    margin-top: -6px;
    max-width: 245px;
}

.advantage-item a {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    border-radius: 4px;
    margin-top: 34px;
}

.advantage-item-1 a {
    background-color: #fb565a;
}

.advantage-item-1 a:hover {
    background-color: #e74246;
}

.advantage-item-1 a:focus {
    background-color: #d7373b;
    color: rgba(255, 255, 255, .3);
}

.advantage-item-2 a {
    background-color: #00ca74;
}

.advantage-item-2 a:hover {
    background-color: #00bc6c;
}

.advantage-item-2 a:focus {
    background-color: #00aa62;
    color: rgba(255, 255, 255, .3);
}

.advantage-item-3 a {
    background-color: #efc84a;
}

.advantage-item-3 a:hover {
    background-color: #eab534;
}

.advantage-item-3 a:focus {
    background-color: #e5a722;
    color: rgba(255, 255, 255, .3);
}

/*--- ADVANTAGES END ---*/

/*-----STUDIO----------*/

.studio {
    display: flex;
    background-image: url("../img/white-back.jpg");
    margin: 0;
    margin-bottom: 35px;
    width: 100%;
    padding: 15px 140px 0 135px;
    text-transform: none;
    text-align: left;
    position: relative;
}

.studio::after {
    content: "";
    position: absolute;
    right: 140px;
    left: 138px;
    bottom: -38px;
    height: 2px;
    background-color: #e1e1e1;
}

.studio-content {
    width: 799px;
    color: #000000;
    padding-left: 5px;
}

.studio-content p {
    margin: 0;
}

.studio-item1 {
    font-size: 45px;
    font-weight: 500;
    line-height: 44px;
    padding-top: 35px;
}

.studio-text {
    padding-bottom: 35px;
}

.studio-description {
    margin-top: 47px;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}

.studio-item2 {
    font-size: 16px;
    line-height: 31px;
    color: #283136;
    padding-top: 20px;
}

.studio-item2 h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.studio-item2 ul {
    list-style: none;
    padding-left: 0;
}

.studio-item2 li {
    padding-bottom: 17px;
    padding-left: 2px;
}

.studio-item2 li::before {
    content: " ";
    height: 1px;
    width: 23px;
    border-top: 2px solid #fb565a;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    padding-left: 2px;
    margin-right: 10px;
}

.right-column {
    width: 500px;
    margin-right: 6px;
}

.column-picture {
    display: flex;
    width: 360px;
    margin-left: 146px;
}

.column-text p {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    padding-top: 20px;
    margin-left: 152px;
}

.column-items {
    display: flex;
    margin: -7px 0 0 145px;
}

.column-content {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: #283136;
    margin: 0px;
    margin-top: -15px;
    padding: 0;
}

.column-item1 {
    font-size: 45px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    padding-right: 20px;
    margin: 0;
    margin-top: -3px;
}

.column-item2 {
    font-size: 45px;
    font-weight: bold;
    padding-right: 16px;
    margin-top: -3px;
}

.column-item3 {
    font-size: 45px;
    font-weight: bold;
    margin-top: -3px;
}

/*-------STUDIO---END----*/

/*------------------------- ССЫЛКИ НА САЙТЫ */

.link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 99px 0 25px 31px;
    position: relative;
    padding: 0 140px 0 130px;
}

.link::after {
    content: "";
    position: absolute;
    right: 140px;
    left: 111px;
    bottom: -26px;
    height: 2px;
    background-color: #e1e1e1;
}

.link-list1 a, .link-list2 a, .link-list3 a, .link-list4 a {
    display: block;
    width: 209px;
    height: 90px;
    background-repeat: no-repeat;
}

.link-list2::before {
    content: "";
    position: absolute;
    left: 365px;
    top: 31px;
    width: 52px;
    height: 2px;
    background-color: #e1e1e1;
    transform: rotate(90deg);
}

.link-list2::after {
    content: "";
    position: absolute;
    left: 663px;
    top: 31px;
    width: 52px;
    height: 2px;
    background-color: #e1e1e1;
    transform: rotate(90deg);
}

.link-list3::after {
    content: "";
    position: absolute;
    left: 964px;
    top: 31px;
    width: 52px;
    height: 2px;
    background-color: #e1e1e1;
    transform: rotate(90deg);
}

.link-list1 a {
    background-image: url("../img/htmlacdemy-logo-first.png");
    margin-left: 10px;
}

.link-list1 a:hover {
    background-image: url("../img/htmlacdemy-logo-hover.png");
}

.link-list1 a:focus {
    background-image: url("../img/htmlacdemy-logo-focus.png");
}

.link-list2 a {
    background-image: url("../img/borodinsli-logo-first.png");
    margin: -34px 0 0 -17px;
}

.link-list2 a:hover {
    background-image: url("../img/borodinsli-logo-hover.png");
}

.link-list2 a:focus {
    background-image: url("../img/borodinsli-logo-focus.png");
}

.link-list3 a {
    background-image: url("../img/pink-logo-first.png");
    margin: 5px 3px 0 0;
}

.link-list3 a:hover {
    background-image: url("../img/pink-logo-hover.png");
}

.link-list3 a:focus {
    background-image: url("../img/pink-logo-focus.png");
}

.link-list4 a {
    background-image: url("../img/mishka-logo-first.png");
    margin: -22px 0 0 0px;
}

.link-list4 a:hover {
    background-image: url("../img/mishka-logo-hover.png");
}

.link-list4 a:focus {
    background-image: url("../img/mishka-logo-focus.png");
}

/* --------CONTACTS --------*/

.contacts-index {
    display: block;
    width: inherit;
    min-height: 416px;
    position: relative;
    margin: 105px 0 0 0;
}

.contacts-catalog {
    display: block;
    width: inherit;
    min-height: 416px;
    position: relative;
    margin: 43px 0 0 0;
}

.contacts-map {
    color: #000000;
    background-color: #ffffff;
    background-image: url("../img/white-back.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    margin-bottom: 69px;
    top: 4px;
    left: 0;
}

.contacts-map iframe {
    width: 100%;
}

.contacts-modal {
    position: absolute;
    width: 319px;
    height: 308px;
    top: 53px;
    left: 139px;
    background-color: #ffffff;
}

.contacts-modal h3 {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    padding: 36px 70px 0 50px;
}

.contacts-modal p {
    font-size: 16px;
    color: #666666;
    text-transform: none;
    padding-left: 51px;
    margin-top: 5px;
    line-height: 19px;
}

.contacts-modal a {
    color: #666666;
    font-size: inherit;
}

.contacts-modal p, .contacts-modal a {
    display: inline-block;
    vertical-align: baseline;
}

.contacts-modal button {
    display: block;
    width: 219px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 51px;
    margin-top: 20px;
    background-color: #fb565a;
    border-radius: 4px;
    outline: none;
}

.contacts-modal button:hover {
    background-color: #e74246;
}

.contacts-modal button:focus, .contacts-modal button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, .3);
}

/* ASIDE START__SLIDER-------------------------*/

.container3 {
    width: 100%;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.filter-fields {
    background-color: #ffffff;
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px 0 139px;
}

.range-filter {
    width: 261px;
    margin-top: 50px;
}

.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 59px;
}

.range-controls {
    position: relative;
    height: 81px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 10px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 2px;
    height: 2px;
    margin: -3px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.range-controls .toggle-min {
    left: 16px;
}

.range-controls .toggle-max {
    left: 157px;
}

.price-controls {
    font-size: 0;
    margin-top: -6px;
    margin-right: 2px;
}

.price-controls label {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font-size: 15px;
    vertical-align: middle;
}

.price-controls input {
    width: 83px;
    padding: 11px 7px;
    margin-left: 5px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price {
    text-align: right;
}

/*ASIDE RADIO */

.radio-item {
    margin: 0;
    padding: 0;
    border: none;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px 0 143px;
}

.radio-item legend {
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 60px 0 1px 0;
    margin-left: -6px;
}

.radio-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    visibility: hidden;
}

.check-radio {
    position: absolute;
    margin-left: -40px;
    width: 25px;
    height: 25px;
}

.radio-input+.check-radio {
    background-image: url("../img/radio-off-first.png");
}

.radio-input:checked+.check-radio {
    background-image: url("../img/radio-on-first.png");
}

/* focused */

.radio-input:focus+.check-radio, .radio-input:hover+.check-radio {
    background-image: url("../img/radio-off-hover.png");
    outline: rgb(59, 153, 252) auto 5px;
}

.radio-input:focus:checked+.check-radio, .radio-input:hover:checked+.check-radio {
    background-image: url("../img/radio-on-hover.png");
    outline: rgb(59, 153, 252) auto 5px;
}

/* disabled*/

.radio-input:disabled+.check-radio {
    color: rgba(40, 49, 54, 0.3);
    background-image: url("../img/radio-off-disabled.png");
}

.radio-input:disabled:checked+.check-radio {
    color: rgba(40, 49, 54, 0.3);
    background-image: url("../img/radio-on-disabled.png");
}

.grid-list {
    margin: 0;
    padding: 0;
}

.grid-label {
    display: flex;
    width: 100%;
    padding-left: 32px;
    padding-top: 15px;
    text-transform: none;
    color: #283136;
}

/*ASIDE CHECKBOX*/

.checkbox {
    margin: 0;
    padding: 0;
    border: none;
    padding: 0 20px 0 139px;
}

.checkbox legend {
    padding-top: 47px;
    font-size: 18px;
    font-weight: bold;
}

.check {
    padding-left: 35px;
    padding-top: 15px;
    text-transform: none;
    line-height: 26px;
}

.check-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    visibility: hidden;
}

.check-box {
    position: absolute;
    margin-left: -40px;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-image: url("../img/checkbox-off.png");
}

.check-input:checked+.check-box {
    background-image: url("../img/checkbox-on.png");
    width: 27px;
}

.check-input:focus+.check-box {
    background-image: url("../img/checkbox-off-hover.png");
    outline: rgb(59, 153, 252) auto 5px;
}

.check-input:checked:focus+.check-box {
    background-image: url("../img/checkbox-on-hover.png");
    outline: rgb(59, 153, 252) auto 5px;
}

.check-input:hover+.check-box {
    background-image: url("../img/checkbox-off-hover.png");
    width: 27px;
}

.check-input:checked:hover+.check-box {
    background-image: url("../img/checkbox-on-hover.png");
    width: 27px;
}

.check-input:disabled:checked+.check-box {
    background-image: url("../img/checkbox-off-dis.png");
    color: rgba(40, 49, 54, 0.3);
}

.check-input:disabled+.check-box {
    background-image: url("../img/checkbox-on-dis.png");
    color: rgba(40, 49, 54, 0.3);
    width: 27px;
}

/* ASIDE END*/

/*---CATALOG-----SORT---- */

.sort {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 18px;
    margin: -6px 0 0 -22px;
}

.sort h4 {
    margin-right: 240px;
    padding-top: 40px;
    padding-left: 59px;
    font-weight: bold;
}

.sort p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    color: rgba(0, 0, 0, .3);
    line-height: 18px;
    text-align: left;
    margin-top: 60px;
    margin-left: 19px;
    padding-left: 7px;
}

.sort p:hover {
    color: rgba(0, 0, 0, .6);
}

.sort p:focus, .sort p:active {
    color: #000000;
}

.sort .price-current {
    color: #000000;
    padding-left: 5px;
}

.sort>div {
    display: flex;
}

.sort-icons {
    width: 50px;
    height: 20px;
    margin-top: 58px;
    margin-left: 32px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.sort-icons:hover {
    color: #a6a6a6;
}

.sort-icons:focus, .sort-icons:active {
    color: #000000;
}

.sort-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid;
}

.sort-down-current {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid;
    margin-left: 16px;
    margin-right: 16px;
    color: #000000;
}

/* CATALOG */

.catalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-left: 80px;
}

.catalogs>div {
    display: inline-block;
    vertical-align: middle;
    width: 360px;
    margin: 35px 0 39px 36px;
}

.catalog {
    /* width: 360px; */
    min-height: 576px;
    border: rgba(77, 77, 77, 0.1);
}

.catalog .catalog-offer {
    display: none;
}

.catalog .catalog-header {
    height: 40px;
    background: url("../img/browser-hover.png");
    background-color: #ffffff;
}

.catalog:hover .catalog-header {
    background-image: url("../img/browser.png");
    opacity: 30%;
    border: rgba(77, 77, 77, 0.1);
}

.catalog:hover .catalog-offer {
    display: block;
    transition: 1s;
}

.catalog-current .catalog-header {
    background: url("../img/browser.png");
}

.catalog-current .catalog-offer {
    display: block;
}

.catalog-header {
    background-color: #ffffff;
}

.catalog-body {
    padding-top: 320px;
    height: 576px;
    position: relative;
    top: 100%;
}

.catalog-1 {
    background-image: url("../img/img-sedona-jpg.jpg");
}

.catalog-2 {
    background-image: url("../img/img-pink-jpg.jpg");
}

.catalog-3 {
    background-image: url("../img/img-barbershop-jpg.jpg");
}

.catalog-4 {
    background-image: url("../img/img-mishka-jpg.jpg");
}

.catalog-5 {
    background-image: url("../img/img-aplus-jpg.jpg");
}

.catalog-6 {
    background-image: url("../img/img-kvast-jpg.jpg");
}

.catalog-offer {
    background: #eeeeee;
    height: 231px;
    position: absolute;
    margin-top: 24px;
    padding-top: 4px;
    overflow-y: auto;
    display: block;
}

.catalog-offer h4 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.catalog-link {
    display: block;
    padding-top: 0px;
    color: #000000;
}

.catalog-link:focus, .catalog-link:hover {
    color: #fb565a;
}

.catalog-link:active {
    color: rgba(0, 0, 0, .3)
}

.catalog-offer p {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-transform: none;
    color: #666666;
    margin-top: -8px;
    line-height: 20px;
}

.catalog-button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background: #fb565a;
    padding-top: 15px;
    margin: 29px 80px 46px 80px;
    border-radius: 4px;
}

.catalog-button a {
    display: block;
}

.catalog-button:hover {
    background-color: #e74246;
}

.catalog-button:focus, .catalog-button:active {
    color: rgba(0, 1, 1, .1);
    background-color: #d7373b;
}

.catalog:focus, .catalog:active {
    box-shadow: inset 0px 3px 0 0;
    color: rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}

.page {
    display: inline-block;
    vertical-align: middle;
    margin: 3px 0 0 0;
    background-color: #ffffff;
}

.page a {
    color: #000000;
}

.page ul {
    list-style: none;
}

.page li {
    display: inline-block;
    vertical-align: middle;
    padding-top: 11px;
    padding-left: 19px;
    margin-left: -3px;
    border-radius: 4px;
    margin-right: 11px;
    background-color: #eeeeee;
}

.page .first {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
}

.page .second {
    width: 50px;
    height: 50px;
}

.page .third {
    width: 50px;
    height: 50px;
}

.page .next {
    width: 260px;
    height: 50px;
    padding-left: 78px;
}

.page-button>li {
    display: inline-block;
    border: 2px solid #e1e1e1;
    vertical-align: middle;
}

.page-button-current {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    border: 3px solid #dbdbdb;
}

.page-button:hover {
    background-color: #dfdfdf;
}

.page-button:focus {
    background-color: #d5d5d5;
    box-shadow: inset 0px 3px 0 0;
    color: rgba(0, 0, 0, .3);
}

.page-button:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/* -----------FOOTER-------------*/

.main-footer {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    color: #000000;
    background-image: url("../img/white-back.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    margin-bottom: 70px;
}

.catalog-footer {
    margin-left: -7px;
}

.footer-social {
    /* width: 475px; */
    margin: 0;
    margin-left: 20px;
    padding: 0;
    vertical-align: middle;
    position: relative;
}

.footer-friends {
    width: 900px;
}

.footer-friends {
    margin-left: -11px;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    justify-content: space-between;
    margin: 0 auto;
    margin-left: 115px;
    padding: 0;
}

.footer-social li {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer-friends b, .footer-friends p {
    text-transform: none;
}

.footer-friends b {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: #000000;
    margin-left: 55px;
}

.footer-friends p {
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    color: #444444;
    margin: 0;
    margin-top: 10px;
    margin-left: 55px;
}

.footer-friends b {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: #000000;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79px;
    height: 79px;
    background-color: #e1e1e1;
    border-radius: 50%;
    outline: none;
}

.social-button:hover {
    background-color: #e74246;
}

.social-button:focus {
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0;
}

.social-button:active path {
    fill: rgba(0, 1, 1, 0.1);
}

/* ---ВСПЛЫВАЮЩЕЕ ОКНО---- */

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.feedback-form {
    display: none;
    position: fixed;
    z-index: 999;
    width: 960px;
    height: 590px;
    color: #000000;
    background-color: #ffffff;
    background-image: url("../img/white-back.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
    padding: 5px 80px;
}

.form-index {
    top: 11px;
    left: 240px;
}

.form-catalog {
    top: 11px;
    left: 240px;
}

.feedback-form-show {
    display: block;
    animation: bounce 0.6s;
}

.feedback-form-error {
    animation: shake 0.6s;
}

.feedback-form h4 {
    background-color: #ffffff;
    color: #000000;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 35px;
}

.feedback-button-close {
    position: absolute;
    top: 70px;
    right: 119px;
    width: 22px;
    height: 22px;
    border: 0;
    cursor: pointer;
}

.feedback-button-close::before, .feedback-button-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 19px;
    height: 3px;
    background-color: #fb565a;
    opacity: 0.3;
}

.feedback-button-close:hover::before, .feedback-button-close:hover::after {
    background-color: red;
}

.feedback-button-close:active::before, .feedback-button-close:active::after {
    opacity: 0.1;
}

.feedback-button-close::before {
    transform: rotate(45deg);
}

.feedback-button-close::after {
    transform: rotate(-45deg);
}

.visually-hidden {
    display: none;
}

.feedback-form-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 760px;
    margin: 0;
    padding: 0;
    margin-right: 100px;
    margin-bottom: 45px;
}

.feedback-form-elements label {
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 12px;
}

.feedback-form-elements input {
    width: 360px;
    height: 50px;
    background-color: #ffffff;
    font-size: 16px;
    text-align: left;
    color: rgba(68, 68, 68, 0.5);
    border: solid 2px #d7dcde;
    border-radius: 4px;
    opacity: 50%;
    padding-left: 16px;
}

.feedback-form-elements input:hover {
    border: solid 2px #b4b9bb;
}

.feedback-form-elements input:focus {
    border: solid 2px #000000;
    outline: none;
}

.feedback-form-elements input:invalid {
    border-color: #e74246;
    color: #e74246;
}

.username {
    display: flex;
    flex-direction: column;
    margin-bottom: 61px;
}

.email {
    display: flex;
    flex-direction: column;
    margin-bottom: 61px;
}

.feedback-message {
    display: flex;
    width: 760px;
    margin: 0;
    padding: 0;
    margin-top: -61px;
}

.feedback-message label {
    text-transform: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    padding-bottom: 12px;
}

.feedback-message input {
    width: 760px;
    height: 118px;
    background-color: #ffffff;
    font-size: 16px;
    text-align: left;
    padding-top: 0;
    padding-left: 16px;
    color: rgba(68, 68, 68, 0.5);
    opacity: 50%;
    border: solid 2px #d7dcde;
    border-radius: 4px;
    padding-bottom: 65px;
}

.feedback-message input:hover {
    border: solid 2px #b4b9bb;
}

.feedback-message input:focus:valid {
    border: solid 2px #000000;
    outline: none;
}

.feedback-message input:focus:invalid {
    border: solid 2px #e74246;
    color: #e74246;
}

.message {
    display: flex;
    flex-direction: column;
}

.feedback-submit input {
    display: flex;
    justify-content: center;
    width: 260px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #fb565a;
    border-radius: 5px;
    margin-top: 47px;
    outline: none;
}

.feedback-submit input:hover {
    background-color: #e74246;
}

.feedback-submit input:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}